body {
    background: radial-gradient(#7a7bf2, black);
    width: 100%, 100%;
    color: white;
}
.gameArt {
    margin: 0 auto;
    width: 10em;
    height: 10em;
    padding: 2em;
}
button {
    width: 5em;
    height: 5em;
    padding: 1em;
    anchor-name: gameArt;
}
h1 {
    font-size:larger;
    position-anchor: right;
}
h2 {
    font-size: medium;
}