body {
  background-color: black;
  overflow: hidden; /* Hide both vertical and horizontal scrollbars */
  align-items: center;
  height: 100vh;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.rounded-button {
  border: 2px dotted grey; /* Dotted border */
  background-color: black;
  color: white; /* Text color */
  padding: 1em 4em; /* Padding for the button */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline from the text */
  display: inline-block; /* Display as an inline block element */
  font-size: 1em; /* Font size */
  border-radius: 1rem; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  margin-top: 5%; /* Add top margin of 5% */
}

.font {
  font-family: 'Font';
}

@font-face {
  font-family: 'Font';
  src: url(font/font.TTF);
}

.rounded-button:hover {
  background-color: darkgrey; /* on hover */
}

.copyright a {
  color: inherit; /* Inherit color from parent */
  text-decoration: none; /* Remove underline */
}

.copyright {
  color: darkslategrey;
}

@keyframes bounce {
  0%, 30%, 90%, 100% {
    transform: translateY(0);
  }
  40%, 80% {
    transform: translateY(-15px);
  }
}

.logo {
  display: block;
  margin: 0 auto 0 auto; /* Center horizontally and add top margin */
  padding-top: 5%;
  height: 60%;
  min-height: 200px;
  animation: bounce 2.41s ease-in-out infinite;
  z-index: 1;
}

[popover] {
  position: fixed;
  background-color: black;
  font-family: "Font";
  color: white;
  inset: 0;
  width: 20rem;
  height: fit-content;
  margin: auto;
  padding: 2rem;
  overflow: auto;
  font-size: x-large;
  text-align: center; /* Centered text */
}

[popover] a, [popover] button {
  color: inherit;
  font-size: inherit;
  background-color: transparent;
  font-family: inherit;
  text-decoration: none; /* No underline */
  border: none; /* Remove default button border */
  cursor: pointer; /* Pointer cursor for button */
}

[popover] a:hover, [popover] button:hover {
  text-decoration: underline dotted;
}

.flag {
  width:inherit;
}

h2 {
  position: relative;
  text-align: center;
  padding: 0.5rem 1rem; /* Add padding to the left and right */
  margin-bottom: 1rem; /* Space below the line */
  background-color: black; /* Black background */
  display: inline-block; /* Fit the background to the text */
  font-weight: normal;
}

h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%; /* Center vertically */
  border-bottom: 2px dotted white; /* Dotted horizontal line */
  z-index: -1; /* Place the line behind the text */
  width: 20rem; /* Set the width of the line to 20rem */
}